version: '3'
services:
  mongodb:
    image: mongo
    container_name: mongodb
    restart: always
    ports:
      - '27017:27017'
    volumes:
      - C:/databases/mongodb/organic-farms:/data/db

  backend:
    build:
      dockerfile: Dockerfile.dev
      context: ./backend/
    container_name: backend
    restart: always
    ports:
      - '4000:4000'
    env_file:
      - ./backend/.env.development
    volumes:
      - ./backend:/backend
      - /backend/node_modules
    depends_on:
      - mongodb
